.header {
  display: flex;
  align-items: flex-end;
  height: fit-content;
  position: relative;
}

.body {
  display: flex;
  align-items: flex-start;
  height: fit-content;
  position: relative;

  &::before {
    border-left: 0.2rem solid
      light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    content: "";
    position: absolute;
    left: 51px;
    height: 100%;
  }
}

.years {
  width: 150px;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
  font-weight: 700;
  font-family: var(--mantine-font-family-monospace);
}

.title {
  display: flex;
  align-items: flex-end;
  gap: var(--mantine-spacing-sm);
}

.description {
  margin-left: 150px;
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: 70px;
}

.container {
  margin: var(--mantine-spacing-sm);
  width: 100%;
}

.mobileHeader {
  display: flex;
  align-items: stretch;
  height: fit-content;
  position: relative;
  gap: var(--mantine-spacing-sm);
}

.mobileTitle {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mobileDescription {
  padding-top: var(--mantine-spacing-sm);

  &::after {
    content: "";
    display: block;
    height: 70px;
    border-left: 0.2rem solid
      light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    left: 50%;
    position: relative;
    width: 5px;
    margin-top: var(--mantine-spacing-sm);
  }
}
