.container {
  background-color: var(--mantine-color-dark-8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--mantine-z-index-modal);

  @mixin dark {
    background-color: alpha(var(--mantine-color-black), 0.7);
    backdrop-filter: blur(20px);
    box-shadow: var(--mantine-shadow-lg);
  }
}

.drawerHeader {
  background-color: var(--mantine-color-dark-8);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.burger:hover *,
.burger:hover *::before,
.burger:hover *::after {
  background-color: var(--mantine-color-blue-5);
}

.burger *[data-opened] {
  background-color: transparent;
}
